 <!-- Navbar -->
    <nav id="navbar">
        <ul>
            <li><a href="/"><img src="" alt="inicio icono">Inicio</a></li>
            <li><a href="/electrico"><img src="/images/habilidades2.png" alt="habilidades icono"> Electrico</a></li>
            <li><a href="/gasolina"><img src="/images/portafolio3.png" alt="portafolio icono"> Gasolina</a></li>
            <li><a href="/diesel"><img src="/images/Estudio3.png" alt="estudios icono"> Diesel</a></li>
  
        </ul>
    </nav>