<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Habilidades</title>
    <link rel="stylesheet" href="/css/diesel.css">
    <link rel="stylesheet" href="/css/normalize.css">
</head>
<body>
 <!-- Header -->
   {{>header}}

  {{>navbar}} 
    <!-- Navbar -->


    <main>
        <section class="description">
            <p>Los carros de diésel son vehículos que utilizan motores de combustión interna que funcionan con combustible diésel. Este tipo de motor es conocido por su eficiencia energética y durabilidad, y es ampliamente utilizado en una variedad de aplicaciones, desde automóviles y camiones hasta vehículos comerciales y de transporte pesado.</p>
        </section>
        <section class="table-container">
            <table>
                <tr>
                    <th>Característica</th>
                    <th>Descripción</th>
                </tr>
                <tr>
                    <td>Motor</td>
                    <td> Los motores diésel son generalmente más eficientes en el consumo de combustible que sus contrapartes de gasolina.</td>
                </tr>
                <tr>
                    <td>Consumo</td>
                    <td>Los motores diésel producen un mayor torque a bajas revoluciones por minuto (RPM), lo que les permite mover cargas pesadas de manera más efectiva y mejorar la capacidad de remolque.</td>
                </tr>
                <!-- Agrega más filas según sea necesario -->
            </table>
        </section>
        <section class="images">
            <img src="/images/dicel.webp" alt="Vehículo diésel 1">
            <img src="/images/dicel2.jpg" alt="Vehículo diésel 2">
        </section>
    </main>


    
   {{>footer}}
</body>
</html>