<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
    <link rel="stylesheet" href="/css/electricos.css">
    <link rel="stylesheet" href="/css/normalize.css">
    
</head>
<body>
    <!-- Header -->
      {{>header}}

  {{>navbar}} 
    
        <!-- Navbar -->


    <main>
        <section class="description">
            <p>Los carros eléctricos son vehículos que funcionan con motores eléctricos en lugar de motores de combustión interna. Utilizan energía almacenada en baterías recargables para impulsar el vehículo, lo que los convierte en una alternativa más limpia y eficiente en comparación con los vehículos de gasolina o diésel. Con el avance de la tecnología, los carros eléctricos se han vuelto más populares en el mercado y ofrecen múltiples beneficios ambientales y económicos.

Características Principales de los Carros Eléctricos

Motor Eléctrico: A diferencia de los motores de combustión, los motores eléctricos generan potencia instantánea y silenciosa, proporcionando una aceleración suave y rápida.
Baterías Recargables: Estos vehículos usan baterías de iones de litio o de estado sólido, que se pueden recargar en estaciones de carga pública o mediante cargadores domésticos.
Cero Emisiones Directas: Al no tener un motor de combustión, los carros eléctricos no emiten gases de escape, lo que reduce la contaminación del aire y la emisión de gases de efecto invernadero.</p>
        </section>
        <section class="images">
            <img src="/images/electrico1.jpg" alt="Vehículo eléctrico 1">
            <img src="/images/electirocs2.jpg" alt="Vehículo eléctrico 2">
        </section>
    </main>


    {{>footer}}
</body>
</html>