<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estudios</title>
    <link rel="stylesheet" href="/css/gasolina.css">
    <link rel="stylesheet" href="/css/normalize.css">

</head>
<body>
      {{>header}}

  {{>navbar}} 

    <main>
        <section class="description">
            <p>La gasolina es un combustible fósil líquido derivado del petróleo, utilizado principalmente en motores de combustión interna en vehículos y maquinaria. Es el combustible más común para automóviles y motocicletas debido a su alto poder energético y su capacidad para proporcionar una combustión rápida 
                Alta Densidad Energética: La gasolina contiene una gran cantidad de energía en volumen pequeño, lo que permite que los motores generen la potencia necesaria para mover vehículos a distintas velocidades.
Facilidad de Uso y Disponibilidad: La infraestructura de distribución de gasolina está ampliamente desarrollada a nivel mundial, lo que facilita su disponibilidad en la mayoría de las regiones.
Volatilidad: La gasolina se evapora fácilmente, lo cual es beneficioso para su combustión rápida, pero también significa que puede representar riesgos de inflamabilidad si no se maneja adecuadamente.y eficiente.</p>
        </section>
             <iframe width="560" height="315" src="https://www.youtube.com/embed/mUtFAguHNjA" 
                title="Video de Vehículos de Gasolina" 
                frameborder="0" 
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                allowfullscreen>
        </iframe>
        </section>
    </main>


    {{>footer}}
</body>
</html>