<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PORTAFOLIO</title>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="./css/normalize.css">
</head>
<body>

   {{>header}}

  {{>navbar}} 

    <!-- Contenido Principal  esto se cambia dependindo el contenido -->



    <main>
        <section class="description">
            <p>Los vehículos terrestres de carga son fundamentales en la logística y el transporte de mercancías a nivel local, nacional e internacional. Diseñados para transportar grandes volúmenes de productos o materiales, estos vehículos son versátiles y se adaptan a distintas necesidades, desde el traslado de bienes de consumo hasta materiales industriales y agrícolas.</p>
        </section>
        <section class="images">
            <img src="/images/pesado1.jpg" alt="Vehículo de carga 1">
            <img src="/images/pesado2.jpg" alt="Vehículo de carga 2">
        </section>
    </main>





    <!-- Footer -->
   {{>footer}}
    
    <!-- Footer -->
</body>
</html>
